.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #001F3F;
}

.navbar-left .navbar-icon {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.nav-link.active {
    color: #E6B83C;
}

.navbar-icon {
    width: 2.5rem;
    height: auto;
}